.outer-form-container {
  height: 62vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.auth-input {
  padding: 10px;
  width: 90%;
  border: solid 1px grey;
  border-radius: 3px;
  outline: none; /* Removes the default outline when the input is focused */
}

.auth-input:focus {
  border: solid 1px grey; /* Keeps the border style the same on focus */
}

.form-container {
  background-color: whitesmoke;

  width: 450px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  border-radius: 5px;
}

.form-container h2 {
  text-align: center;

  color: #333;
  font-size: 24px;
}
.form-container > p {
  text-align: center;
}

.form-container > p a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.error {
  color: red;
  margin: 0;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 15px 0;
}

.auth-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  width: 95%;
  margin: 20px auto;
}

.person {
  width: 35px;
  cursor: pointer;
}

.verification-wrapper {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Softer light background */
}

.verification-box {
  width: 420px;
  padding: 35px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); /* Slightly deeper shadow */
  text-align: center;
}

.verification-box h2 {
  color: #444;
  margin-bottom: 25px;
}

.verification-box p {
  color: #666;
  margin-bottom: 18px;
  line-height: 1.7;
}

.verification-box a {
  color: #0069d9;
  text-decoration: none;
  font-weight: 600;
}

.verification-box a:hover {
  text-decoration: underline;
}

.verification-box p:last-child {
  margin-top: 35px;
  font-size: 15px;
  color: #888;
}

@media (max-width: 769px) {
  .outer-form-container {
    height: 100%;
  }
}
