.grade {
  width: 80%;
  margin: auto;
}

.grade > div {
  padding-left: 100px;
}
.grade .books {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  padding-left: 0;
}

.books > p {
  width: 90%;
  margin: auto;
}

.books a {
  max-width: 360px;
}

.grade h2 {
  text-align: center;
  margin-top: 40px;
  color: rgb(4, 4, 64);
}

.books a {
  color: black;
}

@media (max-width: 769px) {
  .grade {
    width: 100%;
    margin: 10px;
  }

  .grade p {
    width: 90%;
  }
  .subject-container {
    padding: 0;
  }
  .books {
    width: 90%;
  }
}
