.top-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: start;
  padding: 0px 100px;
}
.header-description {
  width: 80%;
  padding: auto 50px;
  font-size: 20px;
}
.book-image {
  width: 250px;
  height: 300px;
}

.detail-container {
  width: 55%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 40px 20px;
}

.detail-intro {
  text-align: center;
}

.detail-container h1 {
  text-align: center;
}

.detail-container li {
  list-style: none;
}

.detail-summery {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
  background-color: white;
}

.chapters {
  background-color: white;
  padding: 10px 20px;
}
.outer-detail-container {
  display: flex;
  justify-content: space-evenly;
  margin: 100px;
  align-items: start;
}

img {
  width: 100%;
}

.sidebar a {
  color: black;
}

.sidebar h2 {
  text-align: center;
}

.detail-container li {
  list-style: none;
  font-size: 18px;
  padding: 3px 0;
  color: rgb(14, 14, 62);
}

.detail-summery {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
  background-color: white;
}

.bottom-detail {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.related-links {
  display: flex;
  margin-left: 100px;
  gap: 30px;
  background-color: white;
  margin: 20px 50px;
  padding: 5px 65px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: ease 1.2s;
}

.related-links img {
  width: 30px;
  height: 30px;
}

.related-links:hover {
  transform: scale(1.02);
}

.detail-container li {
  list-style: none;
}
