.higherLevelBody,
.elementaryBody,
.highschoolBody {
  height: 80vh;
  display: flex;
  gap: 60px;
  align-items: center;
  margin: 0 100px;
}
.image {
  width: 70%;
  height: 70%;
}
.departments,
.content,
.grades {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 100px;
  justify-content: center;
  gap: 15;
}

button {
  width: 200px;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  background-color: aquamarine;
  margin: 20px 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(109, 137, 140, 0.4);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
  opacity: 0.95;
  transform: scale(1.02);
}
button:active {
  transform: scale(0.95);
}
.grades button {
  background-color: rgba(143, 43, 13, 0.507);
}
.departments button {
  background-color: teal;
}
.content button {
  background-color: #2196f3;
}

@media (max-width: 1281px) {
  .higherLevelBody,
  .elementaryBody,
  .highschoolBody {
    height: 100%;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin: 0 100px;
  }

  .higherLevelBody img,
  .elementaryBody img,
  .highschoolBody img {
    width: 100%;
    order: 1;
  }

  .highschoolBody .grades {
    height: 100%;
    order: 2;
  }

  .higherLevelBody .departments {
    height: 100%;
    order: 2;
  }

  .content {
    height: 100%;
    order: 2;
  }
}

@media (max-width: 769px) {
  .higherLevelBody,
  .elementaryBody,
  .highschoolBody {
    margin: 20px 20px;
  }

  .content h1 {
    font-size: 22px;
  }
}
