.instruction-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0a4f98;
  border-radius: 5px;
  display: block;
  width: 200px;
  margin: 20px auto;
}

.instructions {
  padding: 20px;
  max-width: 700px;
  margin: auto;
  height: 58vh;
}

@media (max-width: 769px) {
  .instructions {
    height: auto;
  }
  .instruction-container {
    display: flex;
    height: 76vh;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .instruction-container {
    height: 100%;
    margin: 10px;
  }
}
