.about_container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    margin: 100px 0;
}

.about_container h2{
    text-align: center;
}



.about_container img{
    width: 36%;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
