.landing-container {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 0 100px;
}

.landing-container .greeting {
  width: 60%;
}

.welcome {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
  font-weight: 900;
}

.outer-container {
  width: 100%;
}

.intro {
  width: 60%;
  margin-bottom: 50px;
}

.landing-container img {
  width: 240px;
  opacity: 0.9;
}

.get-started {
  display: inline-block; /* Aligns button nicely */
  width: auto; /* Automatic width to fit content */
  min-width: 120px; /* Ensures button is not too small */
  text-align: center;
  background-color: #007bff; /* Primary color */
  color: #ffffff; /* White text color */
  padding: 8px 16px; /* Balanced padding for a cleaner look */
  border-radius: 4px; /* Slightly rounded corners */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Light shadow for subtle depth */
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transitions */
  text-decoration: none; /* Remove underline if used with <a> element */
}

.get-started:hover {
  background-color: #0056b3; /* Darker shade on hover */
  transform: scale(1.02); /* Slightly enlarges on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Slightly more pronounced shadow on hover */
}

/* Large desktops and extra-large screens */
@media (max-width: 1281px) {
  .landing-container {
    flex-direction: column;
    height: 100%;
    gap: 50px;
    margin: 0;
  }

  .landing-container .greeting {
    width: 80%;
  }

  .landing-container img {
    width: 400px;
  }
}
/* Tablets (portrait and landscape) */
@media (max-width: 769px) {
  .landing-container .greeting {
    width: 90%;
  }
}


/* Mobile phones (portrait and landscape) */
@media (min-width: 480px) {
}
