html{
    background-color: whitesmoke;
}
body{
    margin: 50px 100px;
    font-family: "Roboto", sans-serif;
}

/* styling the navigation */
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-style: normal;
    color: darkred;
}

.links{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}



.links li{
    list-style: none;
   
}
.links li a{
    text-decoration: none;
    text-transform: uppercase;
    color: darkblue;
    font-weight: bolder;
    letter-spacing: 1px;
    text-underline-offset: 5px;
    
    
}

.links li a:hover,.footer-navigation a:hover{
    text-decoration: underline;
   
}





/* Styling the main container  */

.landing-container{
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}


.landing-container .greeting{
    width: 60%;
}

.landing-image-container{
    width: 30%;
    margin-top: 70px;
}


.welcome{
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
}


.outer-container{
    width: 100%;
}

.intro{
    width: 60%;
    margin-bottom: 50px;
    
}

img{
    width: 100%;
}

img.header-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.get-started{
    text-decoration: none;
    font-weight: bold;
}


/* footer styling */

footer {
    background-color: #e8e7e7;
    
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    margin: 0 auto;
}

.footer-section {
    margin: 10px;
    /* min-width: 40%; */
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section a {
    color: blue;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer-section a:hover {
    text-decoration: underline;
}
.footer-navigation a {
    color: darkblue;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    text-underline-offset: 5px;
}

 
.footer-navigation li{
    list-style: none;
}
.footer-navigation ul{
    padding: 0;
}
.contact-info p{
    margin: 5px 0;
}



.phone, .email{
    display: flex;
    gap: 10px;
}

.phone a,.email a{
    margin-top: 0;
}

.social-container{
    display: flex;
    gap: 7px;
}

.social-container img{
    width: 20px;
}
