html{
    background-color: whitesmoke;
}
body{
    font-family: "Roboto",sans-serif;
    margin: 50px 100px;
    
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: bottom 70px; 
}
.logo{
    color: darkred;
    font-weight: 500;
    font-style: normal;
    font-family: "Great Vibes", cursive;
}
.links{
    text-decoration: none;
    display: flex;
    gap: 15px;

}
.links li{
    list-style: none;
}
.links li a{
    color:darkblue ;
    text-transform: none;
    font-weight: bolder;
    letter-spacing: 1px;
    text-decoration: none;
    text-underline-offset: 3px;
   

}
.links li a:active{
    text-decoration: underline;
}
.links li a:hover{
    text-decoration: underline;
}
/* toggle */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    
    
  }
  
  .theme-switch-wrapper span {
    margin-right: 10px;
    font-size: 1rem;
  }
  
  .toggle-text {
    position: relative;
    font-weight: bold;
    font-size: 30;
    right: 5px;
    color: var(--on-background);
  }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    
    position: absolute;
    cursor: pointer;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    width: 50px;
    height: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    top: 2px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
/* pages body*/
.higherLevelBody , .elementaryBody, .highschoolBody{
    height: 80vh;
    display: flex;
    gap: 15px;
}
.image{
    width: 1200px;
    height: 675px;
}
.departments , .content , .grades{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    right:100px;
    justify-content: center;
    gap:15
    
    
}

button{
    width: 200px;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: aquamarine;
    margin: 20px 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(109, 137, 140, 0.4); 
    transition: background-color 0.3s ease, transform 0.3s ease;

}
button:hover {
    opacity: 0.95;
    transform: scale(1.02);
}
button:active {
    transform: scale(0.95);
}
.grades button{
    background-color:rgba(143, 43, 13, 0.507);
}
.departments button{
    background-color: teal; 
}
.content button{
    background-color:#2196F3 ; 
}


footer {
    margin-top: 100px;
    background-color: #e8e7e7;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-section {
    margin: 10px;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section a {
    color: blue;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer-section a:hover {
    text-decoration: underline;
}
.footer-navigation a {
    color: darkblue;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    text-underline-offset: 5px;
}
.footer-navigation li{
    list-style: none;
}
.footer-navigation ul{
    padding: 0;
}
.contact-info p{
    margin: 5px 0;
}

.phone, .email{
    display: flex;
    gap: 10px;
}

.phone a,.email a{
    margin-top: 0;
}

.social-container{
    display: flex;
    gap: 7px;
}

.social-container img{
    width: 20px;
}
